/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
    font-family: 'Prompt', sans-serif;
	padding: 0;
	border: 0;
	font-size: 100%;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

.navbar-fluid{
    width: 100%;
    background-color: transparent;
    margin-bottom: 20px;
}

.navbar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 0px 20px 0px;
}

.navbar .logo h3{
    font-size: 35px;
}

.navbar .logo h3::first-letter{
    color:#FF5300;
}

.container{
    max-width: 60rem;
    margin: 0 auto;
}

.rightMenu ul{
    display: flex;
}

.rightMenu li{
    padding: 15px 25px;
    position: relative;
}

.rightMenu li:nth-last-child(1){
    padding: 15px 0px 15px 15px!important;
}

.rightMenu li::after{
    position: absolute;
    content: '';
    width: 30px;
    height: 3px;
    background-color: #FF5300;
    bottom: 5px;
    left: 50%;
    transform: translateX(-50%);
    opacity: 0;
    visibility: hidden;
    transition: all 0.25s ease-in-out;
}

.rightMenu li:hover::after{
    opacity: 1;
    width: 45px;
    visibility: visible;
}

.rightMenu li a{
    text-decoration: none;
    color:rgb(129, 129, 129);
}

li[class~="activeMenu"]::after{
    opacity: 1 !important;
    visibility: visible !important;
}

li.activeMenu a{
    color:rgb(0, 0, 0) !important;
}

.showcase{
    min-height: 500px;
    align-items: center;
    position: relative;
    width: 100%;
    margin-bottom: 100px;
}

.showcase-l{
    width: 70%;
    z-index: 1;
    left: 0%;
    top: 50%;
    transform: translateY(-50%);
    position: absolute;
}

.showcase-l h1{
    font-size: 45px;
    margin-bottom: 30px;
}

.PlayVideo{
    background-color: transparent;
    text-decoration: none;
    color:#000;
    display: flex;
    font-size: 18px;
    align-items: center;
}

.PlayVideo:hover i{
    color:#c54200;
    transition: all 0.25s ease-in-out;
}

.PlayVideo i {
    color:#FF5300;
    margin-right: 10px;
    font-size: 27px;
}

.showcase-r{
    position: absolute;
    right: 0%;
    width: 60%;
    height: 100%;
}

.showcase-r img{
    width: 100%;
    height: 100%;
    border-radius: 10px;
}

.showService{
    display: flex;
    flex-direction: row;
}

.service{
    display: flex;
    align-items: center;
    padding: 10px;
    width: 25%;
    margin-bottom: 100px;
}

.service .icon-service{
    font-size: 28px;
    margin-right: 20px;
}

.service .text-service h1{
    font-size: 18px;
    color: #FF5300;
    margin-bottom: 5px;
}

.PerfectPalce{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 100px;
}

.textPerfectPalce{
    width: 40%;
    margin-top: 30px;
    margin-bottom: 80px;
}

.textPerfectPalce h1{
    margin-bottom: 30px;
    font-size: 40px;
}

.textPerfectPalce p{
    margin-bottom: 30px;
    padding-right: 20px;
}

.textPerfectPalce a{
    padding: 5px 15px;
    color:#fff;
    background-color: #FF5300;
    text-decoration: none;
    transition: all 0.25s ease-in-out;
}

.textPerfectPalce a:hover{
    background-color: #ce4500;
}

.showPerfectPalce{
    width: 60%;
    display: flex;
}

.palce{
    width: 33.33%;
    box-sizing: border-box;
    padding: 5px;
    cursor: pointer;
}

.wrapperPlace{
    padding: 0;
    margin: 0;
    width: 100%;
    background-color: #FF5300;
    height: 260px;
    overflow: hidden;
    position: relative;
    border-radius: 15px;
}

.wrapperPlace:hover img{
    transform: scale(120%);
}

.wrapperPlace img{
    filter: brightness(75%);
    width: 100%;
    height: 100%;
    transition: all 0.25s ease-in-out;
}

.wrapperPlace .textPlace{
    position: absolute;
    bottom: 0%;
    color: #fff;
    padding: 20px 10px;
}

.wrapperPlace .textPlace h3{
    margin-bottom: 5px;
}

.wrapperPlace .textPlace .palceRate{
    font-size: 10px;
    color:gold;
}

.topRate{
    font-size: 35px;
    text-align: center;
}

.topRateCards{
    display: flex;
    margin-top: 50px;
    margin-bottom: 100px;
}

.topRateCard-item{
    width: 25%;
    padding: 20px 5px 20px 5px;
}

.topRateCard-item:nth-child(1){
    padding-left: 50px;
}

.topRateCard-item:nth-child(4){
    padding-right: 50px;
}

.topRateCard-item .wrapperCard img{
    width: 100%;
    height: 100%;
    border-radius: 15px;
    transition: all 0.25s ease-in-out;
}

.topRateCard-item .wrapperCard:hover img{
    transform: scale(120%);
    filter: brightness(50%);
}

.topRateCard-item .wrapperCard:hover p{
    opacity: 1;
    visibility: visible;
}

.topRateCard-item .wrapperCard {
    width: 100%;
    height: 290px;
    cursor: pointer;
    border-radius: 15px;
    overflow: hidden;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    position: relative;
}
.topRateCard-item .wrapperCard p{
    position: absolute;
    opacity: 0;
    visibility: hidden;
    top: 50%;
    transition: all 0.25s ease-in-out;
    left: 50%;
    transform: translate(-50%, -50%);
}

.topRateCard-item .wrapperCard p a{
    text-decoration: none;
    font-size: 24px;
    color:#fff;
    text-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}

.topRateCard-item .textCard h1{
    font-size: 15px;
    margin-top: 13px;
}

.topRateCard-item .textCard h1 a{
    text-decoration: none;
    color:#000;
    transition: all 0.25s ease-in-out;
}

.topRateCard-item .textCard h1 a:hover{
    color:rgb(49, 49, 255);
}

.topRateCard-item .textCard p{
    color:#c54200;
    margin-top: 8px;
}

.topRateCard-item .textCard .iconCard{
    font-size: 11px;
    margin-top: 8px;
    color:gold;
}

.destinationHeader{
    font-size: 35px;
    text-align: center;
}

.destinationLists{
    display: flex;
    box-sizing: border-box;
    margin-top: 40px;
    margin-bottom: 40px;
    flex-wrap: wrap;
}

.item-destination {
    width: 25%;
    display: flex;
    margin-bottom: 60px;
    align-items: center;

}

.item-destination .img-destination{
    width: 42%;
    padding-right: 25px;
}

.item-destination .img-destination img{
    width: 100%;
    border-radius: 10px;
}

.item-destination .text-destination h1{
    margin-bottom: 10px;
}

.item-destination .text-destination .icon-destination{
    color:gold;
    font-size: 12px;
}

.textOnEarth{
    font-size: 35px;
    text-align: center;
    margin-bottom: 40px;
}

.grid-onEarth{
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: 100px 50px 50px 100px;
    column-gap: 10px;
    row-gap: 10px;
    margin-bottom: 100px;
}

.e-item:nth-child(1){
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end: 5;
    position: relative;
}

.e-item:nth-child(1) .textOnEarthInImg{
    position: absolute;
    bottom: 0%;
    padding: 25px;
    color: #fff;
    text-align: left;
    line-height: 25px;
}

.e-item:nth-child(1) .textOnEarthInImg h1 a{
    text-decoration: none;
    color: #fff;
    transition: all 0.25s ease-in-out;
}

.e-item:nth-child(1) .textOnEarthInImg h1 a:hover{
    color: blue;
}

.e-item:nth-child(1) .icon-onEarth{
    color:gold;
    font-size: 10px;
}

.e-item:nth-child(2){
    grid-row-start: 1;
    grid-row-end: 4;
}

.e-item:nth-child(3){
    grid-row-start: 4;
    grid-row-end: 4;
}

.e-item:nth-child(4){
    grid-row-start: 1;
    grid-row-end: 3;
}

.e-item:nth-child(5){
    grid-row-start: 3;
    grid-row-end: 5;
}

.e-item:nth-child(6){
    grid-row-start: 1;
    grid-row-end: 1;
}

.e-item:nth-child(7){
    grid-row-start: 2;
    grid-row-end: 5;
    position: relative;
}

.e-item:nth-child(7) .btnOnEarth{
    position: absolute;
    bottom: 0%;
    left: 0%;
    width: 100%;
    text-align: center;
    padding-bottom: 15px;
    padding-top: 15px;
    background-color: #FF5300;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    color: #fff;
    text-decoration: none;
    transition: all 0.25s ease-in-out;
}

.e-item:nth-child(7) .btnOnEarth:hover{
    background-color: #c54200;
}

.e-item:nth-child(7):hover .btnOnEarth{
    opacity: 0;
}

.wrapperOnEarthImg{
    width: 100%;
    height: 100%;
    border-radius: 5px;
    overflow: hidden;
}

.e-item:hover .wrapperOnEarthImg img{
    transform: scale(113%);
    filter: brightness(70%);
}

/* .wrapperOnEarthImg:hover img{
    transform: scale(113%);
    filter: brightness(70%);
} */

.wrapperOnEarthImg img{
    width: 100%;
    transition: all 0.40s ease-in-out;
    height: 100%;
    filter: contrast(120%)
}

.trends{
    display: flex;
    align-items: center;
    margin-bottom: 100px;
}

.trend-img {
    display: flex;
    width: 60%;
    align-items: center;
    padding-right: 30px;
}

.trend-img-item{
    background-color: #c54200;
    height: 250px;
    overflow: hidden;
}

.trend-img-item img{
    width: 100%;
    height: 100%;
    filter: contrast(110%);
}

.trend-img-item:nth-child(1){
    border-top-left-radius: 10px;
    width: 30%;
    border-bottom-left-radius: 10px;
}

.trend-img-item:nth-child(2){
    border-radius: 10px;
    width: 40%;
}

.trend-img-item:nth-child(3){
    border-top-right-radius: 10px;
    flex-grow: 1;
    border-bottom-right-radius: 10px;
}

.trend-img-item:nth-child(2){
    height: 300px;
}

.trend-text{
    width: 40%;
}

.trend-text h1{
    font-size: 40px;
    margin-bottom: 15px;
}

.trend-text p{
    margin-bottom: 32px;
    color: rgb(122, 122, 122);
}

.trend-text a{
    text-decoration: none;
    color:#fff;
    background-color: #FF5300;
    padding: 8px 20px;
}

.trend-text a:hover{
    background-color: #ce4500;
}

.footer{
    display: flex;
}

.footer-item{
    padding: 10px;
    line-height: 20px;
}

.footer-item:nth-child(1){
    width: 40%;
}

.footer-item:nth-child(1) h1{
    font-size: 35px;
    margin-bottom: 20px;
}

.footer-item:nth-child(1) h1::first-letter{
    color:#FF5300
}

.footer-item:nth-child(1) p{
    color:rgb(122, 122, 122);
    margin-bottom: 20px;
}

.footer-item:nth-child(1) .icon-footer{
    letter-spacing: 8px;
}

.footer-item:nth-child(1) .icon-footer a{
    color:#000;
}

.footer-item:nth-child(1) .icon-footer a:hover{
    color:rgb(42, 0, 192);
}

.footer-item:nth-child(2){
    width: 20%;
}

.footer-item:nth-child(2) h1{
    margin-bottom: 20px;
}

.footer-item:nth-child(2) ul li a{
    text-decoration: none;
    color: rgb(122, 122, 122);
}

.footer-item:nth-child(2) ul li a:hover{
    text-decoration: none;
    color: rgb(0, 0, 0);
}

.footer-item:nth-child(3){
    width: 20%;
}

.footer-item:nth-child(3) h1{
    margin-bottom: 20px;
}

.footer-item:nth-child(3) ul li a{
    text-decoration: none;
    color: rgb(122, 122, 122);
}

.footer-item:nth-child(3) ul li a:hover{
    text-decoration: none;
    color: rgb(0, 0, 0);
}

.footer-item:nth-child(4){
    width: 20%;
    
}

.footer-item:nth-child(4) h1{
    margin-bottom: 20px;
}

.footer-item:nth-child(4) p{
    color:rgb(122, 122, 122)
}

.burger-menu{
    display: none;
}

#burgerMenu{
    padding: 10px 10px;
    border: none;
    background-color: transparent;
    color:#000;
    cursor: pointer;
    font-size: 25px;
}

.footer-fluid{
    width: 100%;
    padding: 25px;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

/* @media only screen and (max-width: 768px) {
    .navbar{
        flex-direction: column;
    }
    .navbar .logo{
        margin-bottom: 10px;
        display: flex;
        width: 100%;
        justify-content: space-between;
    }

    .navbar .logo h3{
        margin-left: 20px;
    }

    .navbar .logo .burger-menu{
        display: block;
    }

    .navbar .rightMenu ul{
        flex-direction: column;
        align-items: center;
        display: none;
    }

    .rightMenu li:nth-last-child(1){
        padding: 15px 25px !important;
    }
} */